@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Courier Prime, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #040720;
}

* {
  box-sizing: border-box;
  font-family: Courier Prime;
  color: #040720;
}

h1 {
  margin: 0.5rem;
}

h3 {
  margin: 0.25rem;
}
